services:
  api:
    image: bungaa-api
    build:
      context: backend
      dockerfile: Dockerfile
    depends_on:
      - mongodb
    ports:
      - 3000:3000
    volumes:
      - ./backend/src:/app/src
    env_file:
      - ./backend/.env
    environment:
      - MONGODB_CONNECTION_STRING=mongodb://mongodb:27017/bungaa

  mongodb:
    image: mongo
    ports:
      - 27017:27017
    volumes:
      - ./data:/data/db

  frontend:
    image: bungaa-frontend
    build:
      context: frontend
      dockerfile: Dockerfile
    ports:
      - 5173:5173
    volumes:
      - ./frontend/src:/app/src
      - ./frontend/public:/app/public

  example-api-calls:
    image: bungaa-api
    depends_on:
      - api
    volumes:
      - ./backend/src/example-api-calls.js:/app/backend/src/example-api-calls.js
    command: node ./backend/src/example-api-calls.js
