extends layout

block content

  h3 Bungalovs

  ul#bungalovs
    each bungalov in bungalovs
      .bungalov
        a(href=`/bungalovs/${bungalov._id}`)
          li= bungalov.name
          p #{bungalov.location} - #{bungalov.price}€ per night
