extends layout

block content
  h3 Welcome to #{title}
  p Discover your own private paradise with our bungalows
  p
    a(href="/bungalovs") Explore our diverse selection of bungalows for a perfect vacation experience
  div
    a(href='#') Sign up
    | &nbsp;or&nbsp;
    a(href='#') Log in
    | &nbsp;or&nbsp;
    a(href='#') Become a Host
