body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  width: 800px;
  margin: 0 auto;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

#bungalovs {
  padding: 10px;
  list-style: none;
  max-width: 900px;

}

.bungalov {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #0ef340;
  border-radius: 5px;
}
